/* more saturated palette */
:root {
  --green: #205C20;
  --dark-green: #0F460F;
  --brown: #734D28;
}


/* original, very washed out palette */
/* :root {
  --green: #618B61;
  --dark-green: #2B592B;
  --brown: #AE9379;
} */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-green);
}

main {
  display: flex;
  /* height: 100vh; */
}

.intro-pane, .details-pane, .contact-pane {
  background-color: var(--green);
  flex-grow: 1;
}

.intro-pane img {
  max-width: 100px;
  max-height: 168px;
  height: auto;
  width: auto;
  padding: 10px;
}

.details-pane {
  background-color: var(--brown);
  height: 100%;
}

p.about, li {
  margin-right: 25px;
}

p.about {
  margin-left: 40px;
}

li {
  list-style: none;
}

li img {
  /* i want this to have the image go across specified percentage of parent container */
  max-width: 70%;
  height: auto;
  width: auto;
}


a {
  color: black;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  .intro-pane img {
    float: right;
  }
  li img {
    max-width: 235px;
  }
}