@import "_variables.scss";
.portfolio-projects-list {
	list-style: none;
	padding-bottom: 32px;
}

.portfolio-project {
	padding: 16px;
}

.portfolio--project-light {
	background-color: lighten($beige, 5%);
}

.portfolio--project-dark {
	background-color: darken($beige, 5%);
}

.portfolio-project-screenshot {
	max-width: 450px;
}

.portfolio-project-description-paragraph {
	max-width: 450px;
}

.portfolio-project-link {
	display: block;
}

.portfolio-project-tech__icon {
	padding-right: 12px;
}
